<p id="notice"><%= notice %></p>

<p>
  <strong>Low resolution:</strong>
  <%= @photo.low_resolution %>
</p>

<p>
  <strong>Standard resolution:</strong>
  <%= @photo.standard_resolution %>
</p>

<p>
  <strong>Link:</strong>
  <%= @photo.link %>
</p>

<p>
  <strong>Thumbnail:</strong>
  <%= @photo.thumbnail %>
</p>

<p>
  <strong>Location:</strong>
  <%= @photo.location %>
</p>

<p>
  <strong>Instagram:</strong>
  <%= @photo.instagram_id %>
</p>

<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
